<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <title>WhatBook</title>
    <meta name="description" content="What book should I read?">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="col-md-8 col-md-offset-2">
      <nav role="navbar" class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">                
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> WhatBook</a>
        </div>
      </nav>
      
      <div class="page-header">
        <h3>Take the quiz <small>and discover your next read</small></h3>
      </div>

      <a class="btn btn-primary" href="/quiz" role="button">Take the Quiz!</a>

    </div>
  </body>
</html>
