<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">  
    <title>WhatBook</title>
    <meta name="description" content="What book should I read?">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="col-md-8 col-md-offset-2">
      <nav role="navbar" class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">                
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> WhatBook</a>
        </div>
      </nav>
      
      <div class="page-header">
        <h3>Take the quiz <small>and discover your next read</small></h3>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2">
          <img src="{{.ImageUrl}}" alt="{{.Title}}" width=300 height=450>
        </div>
        <div class="col-md-3">
          <div class="caption">
            <h4>{{.Title}} <small>{{.Author}}</small></h4>
            <p>The second installment of J. M. Coetzee's fictionalized memoir explores a young man's struggle to experience life to its full intensity and transform it into art. </p>
            <form action="/answer" method="post">
              <div class="radio">
                <label>
                  <input name="yes" type="radio"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> I have read it
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="neutral" type="radio"> Can't say
                </label>
              </div>
              <div class="radio">
                <label>
                  <input name="no" type="radio"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Not my taste
                </label>
              </div>
              <button type="submit" class="btn btn-success btn-sm">Next</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
